#left{

	height: 100%;
	padding-left: 0;
	padding-right: 0;
	margin-left: 15px;
}
#left img{
	width: 300px;
	height: 350px;
	margin-left: 50px;
}
#right{

	height: 100%
}
.doc{
	width: 90%;
	height: 500px;

}
.doc input{
	text-align: center;
	background: 	#C0C0C0;
	width: 300px;
}