body{
    margin:0 auto;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
text-align:center;

}
h3{
color:black;
}
.bgc{
width:100%;
height:100%;

filter: blur(10px);
position:absolute;
background-image: url("team5-logo.png");
background-position:center;
background-repeat:no-repeat;
background-size:cover;
z-index:-1;
}

.frameLogin{
margin-top:5%;
width:350px;
min-width: 20%;
max-width: 40%;
position: relative;
display: inline-block;
text-align: center;
border-radius:20px;
background-color: rgba(0,0,0,0.3);

}

.footer{
margin-top: 200px;
text-align: center;   
}

form{
padding: 20px;
}	
form .input{
margin:5px;
width:90%;
height: 40px;
color:white;
border:0px;
border-bottom: 3px #1c1c1c solid;
display:inline-block;
}
::placeholder{
    color:white;
    opacity:0.6;
}
form .input:hover 	{
border-bottom: 3px pink solid;
color:pink;
}	
form input{
width:90%;
height: 40px;
color:white;
background: transparent;
border:0px;
}	

form #btLogin{
margin:15px;
width: 90%;
height: 40px;
border-radius: 20px;
background-color: red;
border:none;
font-size:16px;
}	
form #btLogin:hover{
background-color:darkred;
}
form a{
color: white;
text-decoration: none;
font-size:14px;
}	
form a:hover{
color:blue;
}
#imgUser{
margin:10px;
opacity: 1;
}
span{
 color:black;
}
#black{
	color:black;	
}
